$iconSpritePath: "../images/glyphicons-halflings.png";
$iconWhiteSpritePath: "../images/glyphicons-halflings-white.png";

@import 'sass-bootstrap/lib/bootstrap';

.logo {
  margin: 0 auto;

  .logo-text {
    display: inline-block;
  }
  
  .get-started {
    margin: 0 0 17px 10px;
  }
}